#graphpanel {
	border: solid black thin;
    margin:auto;
    width:800px;
    height:400px;
    background-image: 
   repeating-linear-gradient(0deg, 
      transparent 0,
      transparent 5px, 
      rgba(0, 0, 0, .1) 5px, 
      rgba(0, 0, 0, .1) 10px),
   repeating-linear-gradient(90deg, 
      transparent 0,
      transparent 5px, 
      rgba(0, 0, 0, .1) 5px, 
      rgba(0, 0, 0, .1) 10px);
}

div{
    border: solid black thin;
    margin:auto;
    width:800px;
    background:rgb(248, 247, 247);   
    padding:20px;
}